#different {position: absolute;background: url(contest_files/3.png) no-repeat top left;width:400px;height:600px;left:440px;top:166px;z-index:0;}
#a1-diff {
    position: absolute;
    background: url(contest_files/diff1.png) no-repeat top left;
    width: 400px;
    height: 600px;
    left: 328px;
    top: -70px;
    z-index: 1;
    display: none;
}
#a2-diff {
position:absolute;
background: url(contest_files/diff222.png) no-repeat top left;
width:400px;
height:600px;
left: 204px;
top: 18px;
display:none;
z-index:1;
}
#a3-diff {position:absolute;background: url(contest_files/diff3.png) no-repeat top left;
width:400px;
height:600px;
left: 361px;
top: 91px;
display:none;
z-index:1;
}

#a4-diff {position:absolute;background: url(contest_files/diff4.png) no-repeat top left;
width:400px;
height:600px;
left: 448px;
top: 239px;
display:none;
z-index:1;
}

#a5-diff {position:absolute;background: url(contest_files/diff555.png) no-repeat top left;
width:400px;
height:600px;
left: 356px;
top: 470px;
display:none;
z-index:1;
}

#a6-diff {position:absolute;background: url(contest_files/diff6.png) no-repeat top left;
width:400px;
height:600px;
left: 547px;
top: 445px;
display:none;
z-index:1;
}

#a7-diff {position:absolute;background: url(contest_files/diff7.png) no-repeat top left;
width:400px;
height:600px;
left: 538px;
top: 75px;
display:none;
z-index:1;
}

#a8-diff {position:absolute;background: url(contest_files/diff8.png) no-repeat top left;
width:400px;
height:600px;
left: 538px;
top: 285px;
display:none;
z-index:1;
}

#a9-diff {position:absolute;background: url(contest_files/diff9.png) no-repeat top left;
width:400px;
height:600px;
left: 535px;
top: 372px;
display:none;
z-index:1;
}

#a10-diff {position:absolute;background: url(contest_files/diff10.png) no-repeat top left;
width:400px;
height:600px;
left: 269px;
top: 244px;
display:none;
z-index:1;
}

#transparentmap {
z-index:9999;
position: absolute;
left:440px;
top:166px;
}
#form_container {
display:none;
color:#fff;
background:#000;
border:2px solid #fff;
position:absolute;
top:180px;
left:150px;
z-index:9999999;
padding:10px;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}

body {
color: black; 
font-family:helvetica, arial, sans-serif; 
background-color: #a8a8abe8;
}


#original {position:absolute;}
#wrapper {width:930px; padding:20px 0px 20px 0px; margin:0px auto;position:relative;}
#counter
{
font-size: 20px;
    font-family: fantasy;
    text-decoration: underline;
}

